

<html data-ng-app="gameDemo">


<head>
    <title>Game Demo</title>

    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="client.js"></script>

</head>

<body data-ng-controller="GameCtrl" data-ng-init="init()">


<div>


    <div id="name-input" data-ng-keypress="joinGame($event)">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" />
    </div>

    <div class="hidden board">
        <div class="overlay perm-hidden">
            <button data-ng-click="resetGame()" type="button">Reset Game</button>
        </div>
        <div data-ng-click="cellClick($event)" data-cell="1" class="{{ takenClass(1) }}cell row0 col0 cell1">{{ state[1] || '' }}</div>
        <div data-ng-click="cellClick($event)" data-cell="2" class="{{ takenClass(2) }}cell row0 col1 cell2">{{ state[2] || '' }}</div>
        <div data-ng-click="cellClick($event)" data-cell="3" class="{{ takenClass(3) }}cell row0 col2 cell3">{{ state[3] || '' }}</div>
        <div class="clear-fix"></div>
        <div data-ng-click="cellClick($event)" data-cell="4" class="{{ takenClass(4) }}cell row0 col0 cell4">{{ state[4] || '' }}</div>
        <div data-ng-click="cellClick($event)" data-cell="5" class="{{ takenClass(5) }}cell row0 col1 cell5">{{ state[5] || '' }}</div>
        <div data-ng-click="cellClick($event)" data-cell="6" class="{{ takenClass(6) }}cell row0 col2 cell6">{{ state[6] || '' }}</div>
        <div class="clear-fix"></div>
        <div data-ng-click="cellClick($event)" data-cell="7" class="{{ takenClass(7) }}cell row0 col0 cell7">{{ state[7] || '' }}</div>
        <div data-ng-click="cellClick($event)" data-cell="8" class="{{ takenClass(8) }}cell row0 col1 cell8">{{ state[8] || '' }}</div>
        <div data-ng-click="cellClick($event)" data-cell="9" class="{{ takenClass(9) }}cell row0 col2 cell9">{{ state[9] || '' }}</div>
        <div class="clear-fix"></div>
    </div>

    <ul class="hidden">
        <li data-ng-repeat="n in getMessages()">{{ n.text }}</li>
    </ul>

</div>


</body>

</html>