


.hidden, .perm-hidden {
    display: none;
}

.clear-fix {
    clear: both;
}

div.cell {
    width: 100px;
    height: 60px;
    border: 3px solid green;
    float: left;
    display: inline-block;
    text-align: center;
    padding-top: 30px;
}

div.cell.taken {
    border-color: red;
}

div.cell:not(.taken).my-turn:hover {
    background-color: #cfcfcf;
    border-color: yellow;
    cursor: pointer;
}

div.board {
    overflow: hidden;
}

.faded {
    opacity: 0.5;
}

div.overlay {
    padding-top: 112px;
    padding-left: 83px;
    z-index: 1000;
    position: absolute;
}

div.overlay > button {
    height: 62px;
    width:150px;
}